{% extends "layout.html" %}
{% block title %}Images{% endblock %}
{% block styles %}
<!--<link rel=stylesheet href=/static/pure/pure-min.css type=text/css>-->
{#    <!--<link rel=stylesheet href=/static/pure/tables-min.css type=text/css>-->#}
{#    <!--<link rel=stylesheet href=/static/pure/buttons-core-min.css type=text/css>-->#}
{#    <!--<link rel=stylesheet href=/static/pure/buttons-min.css type=text/css>-->#}
<style>
    /*    .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }
        .button-success {
            background: rgb(28, 184, 65);  this is a green 
        }
    
        .button-error {
            background: rgb(202, 60, 60);  this is a maroon 
        }
    
        .button-warning {
            background: rgb(223, 117, 20);  this is an orange 
        }
    
        .button-secondary {
            background: rgb(66, 184, 221);  this is a light blue 
        }
         My changes start here 
        .search-type-holder {
            float: left;
            margin-left: 5px;
            margin-right: 5px;
        }
        .clearfix {
            clear: both;
        }*/
    /* My changes end here */
</style>
<!-- My changes start here -->
<script type="text/javascript">
    function checkAll() {
        var check_all = document.getElementById('check_all');
        if (check_all.checked) {
            var checked = document.getElementsByClassName("checked");
            for (var i = 0; i < checked.length; i++) {
                checked[i].checked = true;
                $("#row-"+checked[i].value).addClass("highlight");
            }
        } else {
            var checked = document.getElementsByClassName("checked");
            for (var i = 0; i < checked.length; i++) {
                checked[i].checked = false;
                $("#row-"+checked[i].value).removeClass("highlight");
            }
        }
    }
    function validateCheckAll() {
        var check_all = document.getElementById('check_all');
        var checked = document.getElementsByClassName("checked");
        var count = 0;
        for (var i = 0; i < checked.length; i++) {
            if (checked[i].checked) {
                count = count + 1;
                $("#row-"+checked[i].value).addClass("highlight");
            } else {
                $("#row-"+checked[i].value).removeClass("highlight")
            }
        }
        if (count === checked.length) {
            check_all.checked = true;
        } else {
            check_all.checked = false;
        }
    }
    function checkAllType() {
        var check_all = document.getElementById('search-type-all');
        if (check_all.checked) {
            var checked = document.getElementsByClassName("search-type-checkbox");
            for (var i = 0; i < checked.length; i++) {
                checked[i].checked = true;
            }
        } else {
            var checked = document.getElementsByClassName("search-type-checkbox");
            for (var i = 0; i < checked.length; i++) {
                checked[i].checked = false;
            }
        }
    }
    function validateAllType() {
        var check_all = document.getElementById('search-type-all');
        var checked = document.getElementsByClassName("search-type-checkbox");
        var count = 0;
        for (var i = 0; i < checked.length; i++) {
            if (checked[i].checked) {
                count = count + 1;
            }
        }
        if (count === checked.length) {
            check_all.checked = true;
        } else {
            check_all.checked = false;
        }
    }
    function checkTypeFromOuter(element, num) {
        var element = element;
        var childs = element.children;
        if (childs[0].checked) {
            childs[0].checked = false;
        } else {
            childs[0].checked = true;
        }
        if (num === 0) {
            checkAllType();
        }
        validateAllType();
        var parent = element.parentElement.parentElement;
        parent.style.display = "block";
    }
</script>
<!-- My changes end here -->
{% endblock %}
{% block body %}

<!-- My changes start here -->
<h2 class="text-primary">List</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        {% if error %}
        <p class="text-danger"><strong>Oh snap!</strong> {{ error }}</p>
        {% endif %}
        <form method="get" enctype="multipart/form-data">
            <div class="input-group">
                <div class="input-group-btn">
                    <button tabindex="-1" class="btn btn-default" type="button">Filter</button>
                    <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                        <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0)" >
                                <input type="checkbox" id="search-type-all" onclick="checkAllType()"/><span class="lbl"> All</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0)">
                                {% if types[1] == conf.TAR_TYPE_IMAGE %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-image" value="1" checked /> <span class="lbl">Image</span>
                                {% elif types[1] == conf.TAR_TYPE_NOTYPE %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-image" value="1" /> <span class="lbl">Image</span>
                                {% else %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-image" value="1" checked /> <span class="lbl">Image</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" >
                                {% if types[2] == conf.TAR_TYPE_VIDEO %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-video" value="2" checked /> <span class="lbl">Video</span>
                                {% elif types[2] == conf.TAR_TYPE_NOTYPE %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-video" value="2" /> <span class="lbl">Video</span>
                                {% else %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-video" value="2" checked /> <span class="lbl">Video</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" >
                                {% if types[3] == conf.TAR_TYPE_URL %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-url" value="3" checked /> <span class="lbl">URL</span>
                                {% elif types[3] == conf.TAR_TYPE_NOTYPE %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-url" value="3" /> <span class="lbl">URL</span>
                                {% else %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-url" value="3" checked /> <span class="lbl">URL</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" >
                                {% if types[4] == conf.TAR_TYPE_URL_YT %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-youtube" value="4" checked /> <span class="lbl">Youtube</span>
                                {% elif types[4] == conf.TAR_TYPE_NOTYPE %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-youtube" value="4" /> <span class="lbl">Youtube</span>
                                {% else %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-youtube" value="4" checked /> <span class="lbl">Youtube</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" >
                                {% if types[5] == conf.TAR_TYPE_MODEL %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-model" value="5" checked /> <span class="lbl">Model</span>
                                {% elif types[5] == conf.TAR_TYPE_NOTYPE %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-model" value="5" /> <span class="lbl">Model</span>
                                {% else %}
                                <input type="checkbox" class="search-type-checkbox" onclick="validateAllType()" name="type-model" value="5" checked /> <span class="lbl">Model</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="form-control" name=keyword id=keyword value="{{ keyword }}" placeholder="Search here...">
                <div class="input-group-btn" style="width: 100px;">
                    <select class="form-control" name="option">
                        {% if option == "user" %}
                        <option value="title">Title</option>
                        <option value="user" selected>User</option>
                        {% else %}
                        <option value="title" selected>Title</option>
                        <option value="user">User</option>
                        {% endif %}
                    </select>
                </div>
                <span class="input-group-btn">
                    <input type="hidden" name="search" value="true" />
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>
</div>
<br />

{% if count > 0 %}
<form action="/admin_multiple_image_action" method=get>
    {% if search %}
    <div class="row">
        <div class="col-md-12">
            <h4>Search Results</h4>
            <p class="lead" style="font-size: 16px; margin-bottom: 0px;">
                <strong class="text-success">{{count}}</strong> results were found for the search for <strong class="text-success">{{keyword}}</strong>
            </p>
        </div>
    </div>
    {% endif %}
    <!-- My changes end here -->
    <div class="row">
        <div class="col-md-12 search-result">
            <div>
                <table class="table">
                    <tr>
                        <th>
                    <div class="checked_remove">
                        <button type="button" class="btn btn-default" style="padding: 5px 10px 6px 10px;">
                            <input type="checkbox" style="float: left; " name="check_all" id="check_all" onclick="checkAll()"/> <div style="padding-top: 1px; margin-left: 2px; float: left"> Mark All</div>
                            <div class="clearfix"></div>
                        </button>
                        <div class="btn-group">
                            <button type="submit" name="action" value="pin" class="btn btn-default" title="Pin marked"><span class="text-success glyphicon glyphicon-pushpin"></span></button>
                            <button type="submit" name="action" value="unpin" class="btn btn-default" title="Unpin marked"><span class="text-warning glyphicon glyphicon-pushpin"></span></button>
                            <button type="submit" name="action" value="remove" class="btn btn-default" onclick="return confirm('Are you sure?')" title="Remove marked"><span class="glyphicon glyphicon-trash text-danger"></span></button>
                        </div>
                    </div>
                    </th>
                    <th>
                    <h3 class="text-center text-primary">Target</h3>
                    </th>
                    <th style="padding-left: 10px;">
                    <h3 class="text-left text-primary">Content</h3>
                    </th>
                    </tr>
                    {% for img in images %}
                    <tr id="row-{{img['id']}}">
                        <td>
                            <ul class="meta-search">
                                <li title="Mark this record">
                                    <button type="button" class="btn btn-default" style="padding-top: 3px; padding-bottom: 3px; padding-left: 8px; padding-right: 8px;">
                                        <input type="checkbox" name="checked[]" value="{{img['id']}}" class="checked" onclick="validateCheckAll()"/>
                                    </button>
                                </li>
                                <li title="Record Title">
                                    <i class="glyphicon glyphicon-header"></i> 
                                    <span>{{ img['title'] }}</span>
                                </li>
                                <li title="Record uploaded user">
                                    <i class="glyphicon glyphicon-user"></i> 
                                    <span>{{ img['username'] }}</span>
                                </li>
                                <li title="Record type">
                                    {% if img['target_type'] == conf.TAR_TYPE_IMAGE %}
                                    <i class="glyphicon glyphicon-picture"></i> 
                                    <span>Image</span>
                                    {% elif img['target_type'] == conf.TAR_TYPE_VIDEO %}
                                    <i class="glyphicon glyphicon-facetime-video"></i> 
                                    <span>Video</span>
                                    {% elif img['target_type'] == conf.TAR_TYPE_URL %}
                                    <i class="glyphicon glyphicon-link"></i> 
                                    <span>URL</span>
                                    {% elif img['target_type'] == conf.TAR_TYPE_URL_YT %}
                                    <i class="glyphicon glyphicon-link"></i> 
                                    <span>Youtube URL</span>
                                    {% elif img['target_type'] == conf.TAR_TYPE_MODEL %}
                                    <i class="glyphicon glyphicon-th-large"></i> 
                                    <span>Model</span>
                                    {% endif %}
                                </li>
                                <li title="Record created date and time">
                                    <i class="glyphicon glyphicon-time"></i> 
                                    <span>{{ img['created_at'] }}</span>
                                </li>
                                <li title="Whether record or pinned or not">
                                    <i class="glyphicon glyphicon-pushpin"></i>
                                    {% if img['pinned'] %}
                                    <span class="text-success" style="font-weight: bold">Pinned</span>
                                    {% else %}
                                    <span class="text-warning" style="font-weight: bold">Unpinned</span>
                                    {% endif %}
                                </li>
                                <li>
                                    <div>
                                        {% if img['pinned'] %}
                                        <!--                                        <a href="/admin_toggle_pin/?id={{ img['id'] }}">
                                                                                    <button class="btn btn-default" title="Unpin, so it's treated as equal to other images"><span class="glyphicon glyphicon-pushpin text-warning"></span> <span class="text-warning">Unpin</span></button>
                                                                                </a>-->
                                        {% else %}
                                        <!--                                        <a href="/admin_toggle_pin/?id={{ img['id'] }}">
                                                                                    <button class="btn btn-default" title="Mark pinned, so it has higher priority when searching"><span class="glyphicon glyphicon-pushpin text-success"></span> <span class="text-success">Pin</span></button>
                                                                                </a>-->
                                        {% endif %}
                                        <!--                                        <a href="/admin_remove_image/?id={{ img['id'] }}" onclick="return confirm('Are you sure?')">
                                                                                    <button class="btn btn-default text-danger" onclick="javascript:void(0)" title="Remove record"><span class="glyphicon glyphicon-trash text-danger"></span> <span class="text-danger">Remove</span></button>
                                                                                </a>-->
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <a href="{{ abs_url(conf.UPLOAD_DIR_SRC[1:], img['src_name']) }}" target="_blank" style="padding: 0px; width: auto;" class="text-center">
                                <img src="{{ abs_url(conf.UPLOAD_DIR_SRC[1:], img['src_name']) }}" class="thumbnail" />
                            </a>
                        </td>
                        <td>
                            {% if img['target_type'] == conf.TAR_TYPE_IMAGE %}
                            <a href="{{ abs_url(conf.UPLOAD_DIR_TAR_IMG[1:], img['target']) }}" target="_blank" class="text-center">
                                <img src="{{ abs_url(conf.UPLOAD_DIR_TAR_IMG[1:], img['target']) }}" class="thumbnail" />
                            </a>
                            {% elif img['target_type'] == conf.TAR_TYPE_VIDEO %}
                            <video src="{{ abs_url(conf.UPLOAD_DIR_TAR_VIDEO[1:], img['target'].replace('.3g2', '.mp4')) }}" class="thumbnail-video img-thumbnail" controls="controls"/>
                            {% elif img['target_type'] == conf.TAR_TYPE_URL %}
                            <a href="{{ img['target'] }}" target="_blank">{{ img['target'] }}</a>
                            {% elif img['target_type'] == conf.TAR_TYPE_URL_YT %}
                            <a href="{{ img['target'] }}" target="_blank">{{ img['target'] }}</a>
                            {% elif img['target_type'] == conf.TAR_TYPE_MODEL %}
                            {{ img['target'] }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</form>
<nav>
    <ul class="pagination">
        {% if pagination.page == 1 or pagination.page < 1 %}
        <li class="disabled"><a href="javascript:void(0)">&laquo; Back</a></li>
        {% else %}
        <li><a href="{{ url_for('admin_list/' ~ (pagination.page - 1))}}">&laquo; Back</a></li>
        {% endif %}
        {%- for page in pagination.iter_pages() %}
        {% if page %}
        {% if page != pagination.page %}
        <li><a href="{{ url_for('admin_list/' ~ (page)) }}">{{ page }}</a></li>
        {% else %}
        <li class="active"><a href="">{{ page }}</a></li>
        {% endif %}
        {% else %}
        <!--<span class=ellipsis>…</span>-->
        {% endif %}
        {%- endfor %}
        {% if pagination.has_next %}
        <li><a href="{{ url_for('admin_list/' ~ (pagination.page + 1))}}">Next &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
<!--<div class=pagination>
    {%- for page in pagination.iter_pages() %}
    {% if page %}
    {% if page != pagination.page %}
    <a href="{{ url_for('admin_list/' ~ (page)) }}">{{ page }}</a>
    {% else %}
    <strong>{{ page }}</strong>
    {% endif %}
    {% else %}
    <span class=ellipsis>…</span>
    {% endif %}
    {%- endfor %}
    {% if pagination.has_next %}
    <a href="{{ url_for('admin_list/' ~ (pagination.page + 1))}}">Next &raquo;</a>
    {% endif %}
</div>-->
<!-- My changes start here -->
{% else %}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-warning-sign"></span> <strong>No Data Found!</strong>
</div>
{% endif %}
<!-- My changes end here -->

{% endblock %}

