{% extends "layout.html" %}
{% block title %}home{% endblock %}
{% block body %}
<h2 class="text-primary">Login</h2>
<hr />
<form method=post enctype=multipart/form-data>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <div class="col-md-5">
        <fieldset class="form-group">
            <label for=username>Username:</label>
            <input type=text name=username id=username value="" class="form-control">
        </fieldset>
        <fieldset class="form-group">
            <label for=password>Password:</label>
            <input type=password name=password id=password value="" class="form-control">
        </fieldset>
        <fieldset class="form-group">
            <input type=submit value=Login class="btn btn-primary btn-lg">
        </fieldset>
    </div>
</form>
{% endblock %}
